
:root {
    --size: 600px
}


.circle-simon {
    background-color: #323232;
    width: var(--size);
    height: var(--size);
    position: relative;
    border-radius: 50%;
}

button:hover {
    background-color: bisque;
}
button:active {
    background-color: rgb(230, 126, 0);
}


.center-circle {
    background-color: #323232;
    width: calc(var(--size) / 3);
    height: calc(var(--size) / 3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;


}

.button {
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    border: 25px solid #323232
}
#buttonGreen {
    background-color: rgba(0, 128, 0, 0.5);
    border-top-left-radius: 100%;
}
#buttonGreen:hover {
    background-color: rgba(0, 214, 0, 0.842);
}
.buttonGreen-active {
    background-color: rgb(0, 214, 0) !important;
}



#buttonRed {
    background-color: rgba(206, 0, 0, 0.5);
    border-top-right-radius: 100%;
}
#buttonRed:hover {
    background-color: rgba(255, 0, 0, 0.801);
}
.buttonRed-active {
    background-color: rgb(255, 0, 0) !important;
}


#buttonYellow {
    background-color: rgba(214, 214, 0,  0.5);  
    border-bottom-left-radius: 100%;
}
#buttonYellow:hover {
    background-color: rgb(255, 255, 0, 0.842); 
} 
.buttonYellow-active {
    background-color: yellow !important; 
} 


#buttonBlue {
    background-color: rgba(0, 0, 189,  0.5);
    border-bottom-right-radius: 100%;
}
#buttonBlue:hover {
    background-color: rgb(0, 0, 255, 0.842);
}
.buttonBlue-active {
    background-color: blue !important;
}


@media screen {
    @media (max-width: 600px) {
        
:root {
    --size: 300px
}
.button {
    border-width: 10px;
}
    }
}